@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

svg {
  display: block;
  pointer-events: none;
}

a,
input,
button,
optgroup,
select,
textarea {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

img {
  vertical-align: top;
  border-style: none;
}

label {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: transparent;
  cursor: pointer;
  appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border: 0;
  border-style: none;
}

:focus,
:active,
a:focus,
a:active,
button:focus,
input:focus {
  // border: none;
  // outline: none;
  // box-shadow: none;
}

:focus-visible,
a:focus-visible,
input:focus-visible,
button:focus-visible {
  border: 1px solid #23262e;
  outline: 1px solid #fff;
  outline-offset: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

[type="search"]::-webkit-search-decoration {
  appearance: none;
}

[type="text"] {
  background-color: transparent;
}

::-webkit-file-upload-button {
  font: inherit;
  appearance: button;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/* -------------------------------------------------------- */

/* Vars */
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;

$accent-color: #92192f;
$text-color: #535353;
$title-color: #212529;

/* Mixins */

@mixin av($property, $startSize, $minSize, $widthFrom: 1560, $widthTo: 390) {
  $addSize: $startSize - $minSize;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * (100vw - #{$widthTo + px}) / #{($widthFrom) - ($widthTo)});
  @media (min-width: ($widthFrom + px)) {
    #{$property}: $startSize + px;
  }
}

[class*="__container"] {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1560px;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #f3f3f3;
}

.btn {
  width: 100%;
  max-width: 257px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  transition: all 0.3s ease;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 15px;
  font-size: 20px;
  @media (max-width: ($sm)) {
    font-size: 16px;
    column-gap: 12px;
    height: 51px;
  }
  &_accent {
    background-color: $accent-color;
    border: 1px solid $accent-color;
    color: #fff;
  }
  &_white {
    background-color: #fff;
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

.bottom-line {
  width: 100%;
  height: 16px;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  span {
    flex: 1 1 25%;
    &:nth-child(1) {
      background-color: #1cb2aa;
    }
    &:nth-child(2) {
      background-color: #273166;
    }
    &:nth-child(3) {
      background-color: #f89821;
    }
    &:nth-child(4) {
      background-color: #7bc143;
    }
  }
  @media (max-width: ($sm)) {
     height: 8px;
  }
}

/* One side container */
// .left-container {
//   @media (min-width: ($lg)) {
//     margin: 0;
//     padding: 0 0 0 calc((100% - ($container-max-width * 1px)) / 2 + $container-padding * 1px);
//     max-width: none;
//   }
// }

// .right-container {
//   @media (min-width: ($lg)) {
//     margin: 0;
//     padding: 0 calc((100% - ($container-max-width * 1px)) / 2 + $container-padding * 1px) 0 0;
//     max-width: none;
//   }
// }

// Styles
.hero {
  position: relative;
  @include av("padding-top", 150, 94);
  padding-bottom: 70px;
  @media (max-width: ($sm)) {
    padding-bottom: 0;
  }
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 59.8%;
    height: 100vh;
    margin-left: auto;
    object-fit: cover;
    @media (max-width: ($lg)) {
       width: 100%;
       height: 80vh;
    }
  }
  &__container {
  }
  &__content {
    position: relative;
    z-index: 2;
    background-color: #fff;
    max-width: 650px;
    padding: 42px 57.5px 60px 45.5px;
    @media (max-width: ($sm)) {
       padding: 23.5px 13px 58px 28px;
    }
  }
  &__title {
    color: $title-color;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.12;
    margin-bottom: 25px;
    @media (max-width: ($sm)) {
      font-size: 30px;
    }
  }
  &__text {
    color: $text-color;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 30px;
    @media (max-width: ($sm)) {
      font-size: 16px;
      margin-bottom: 22px;
    }
  }
  &__links {
    display: flex;
    column-gap: 11.71px;
    @media (max-width: ($sm)) {
       flex-direction: column;
       row-gap: 12.5px;
    }
  }
  &__link {
    @media (max-width: ($sm)) {
       max-width: 100%;
    }
  }
}
